{% assign feature_row = include.feature_row | default: page.feature_row | default: site.feature_row %}
{% if include.data %}
  {% assign feature_row = include.data %}
{% endif %}

<div class="feature__wrapper">
  {% for f in feature_row %}
    <a href="{{ f.url | relative_url }}" class="feature__item" style="text-decoration:none;">
      <div class="archive__item">
        <div class="archive__item-body">
          {% if f.title %}
            <h2 class="archive__item-title">{{ f.title }}</h2>
          {% endif %}
          {% if f.excerpt %}
            <div class="archive__item-excerpt">
              <p>{{ f.excerpt }}</p>
            </div>
          {% endif %}
        </div>
      </div>
    </a>
  {% endfor %}
</div>
